main{
    font-family: "arial";
    text-align: center;
    font-size: 110%;
}

p{
    font-size: 80%;
    color:rgb(102, 102, 101);
    padding: 8px 8px 8px 8px;
}

.about{
    background:rgb(214, 186, 27);
    padding: 8px;
}

img{
    height: 100px;
    width: 100px;
    align-items: center;

}

.column{
    float: left;
    margin-right: 12px;
    width: 18%;
}

.card{
    box-shadow: 0 4px 8px 0 rgb(40, 43, 44);
    padding: 4px 4px 4px 4px;
    align-items: center;
}

.container{
    font-size: 80% ;
}

h2{
    font-size: 145%;
    color: rgb(114, 100, 21) ;
}

p1{
    font-size: 125%;
}