.bg-cover {
    background-image: url("../images/backgrounds/index-background.svg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}

main{
    font-family: "arial";
    text-align: center;
    font-size: 110%;
}

p{
    font-size: 100%;
    color:rgb(0, 0, 0);
    padding: 8px 8px 8px 8px;
}

.about{
    background:rgb(214, 186, 27);
    padding: 8px 8px 8px 8px;
}

img{
    height: 100px;
    width: 100px;
    align-items: center;

}

.column{
    float:left;
    align-items: center;
    margin-right: 12px;
    width: 18%;
    padding: 8px;
}

.row{
    padding-top: 32px;
    
}

.card{
    box-shadow: 0 4px 8px 0 rgb(40, 43, 44, 0.6);
    background-color: rgba(214, 186, 27, 0.2);
    padding: 4px 4px 4px 4px;
    align-items: center;
}

h2{
    font-size: 145%;
    color: rgb(114, 100, 21) ;
}

p1{
    font-size: 100%;
    color:rgb(0, 0, 0);
    padding: 8px 8px 8px 8px;
}