.bg-cover {
    background-image: url("../images/backgrounds/review-background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}

h1{
    text-align: center;
}

h3{
    color:rgb(214, 186, 27);
}

p{
    color: rgb(75, 69, 48)
}

img{
    max-width: 220px;
    height:220px;
    margin-top: 10px;
}

.gallery-container{
    text-align: center;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border-radius: 10px;
    margin: 10px;
    width: 20%;
    max-width: 280px;
    height: auto;
    padding: 5px; 
}

.gallery-container a{
    background-color: rgba(255, 255, 255);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}
.gallery-container a:hover{
    opacity: 70%;
    text-decoration-color:rgb(214, 186, 27);
}

