.bg-cover {
    background-image: url("../images/main-bg-1.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}

.center-me{
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: "center";
}

#prof-display{
    display: block;
    width: 150px;
    margin: 10px auto;
    border-radius: 50%;
}

#uname-style{
    font-size: 20px;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
}

#gallery-display{
    display: block;
    width: 150px;
    margin: 10px auto;
    border-radius: 10%;
}