.bg-cover {
    background-image: url("../images/backgrounds/review-background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}